@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.menuList-container {
  font-family: "Acme", sans-serif;
  border: 3px solid #f0a26e;
  border-radius: 8px 30px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  font-weight: bold;
  background-color: #f3f3f3;
  color: #e47d38;
  letter-spacing: 0.5px;
  transition: 0.5s;
  height: 25px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
}

.menuList-container:hover {
  background-color: #f0a26e;
  transition: 0.5s;
  color: white;
  cursor: pointer;
  font-size: 26px;
  letter-spacing: 1px;
}
