@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.menuList-container {
  font-family: "Acme", sans-serif;
  border: 3px solid #f0a26e;
  border-radius: 8px 30px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #f3f3f3;
  color: #e47d38;
  letter-spacing: 0.5px;
  transition: 0.5s;
  flex: 45%;
  font-size: 24px;
  text-decoration: none;
}

.menuList-container:hover {
  background-color: #f0a26e;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 26px;
  letter-spacing: 1px;
}
